<div class="header">
  <div class="Menu-container">
    <div class="icon-container">
        <img class="icon" src="https://www.bancodeoccidente.com.co/wps/wcm/connect/banco-de-occidente/72d87a09-c3c6-4ee2-8bd6-4b865ebc32c2/logo-h.png?MOD=AJPERES&CACHEID=ROOTWORKSPACE.Z18_PQ441IO0LGGB20ANDOHIQE20P6-72d87a09-c3c6-4ee2-8bd6-4b865ebc32c2-nD4b5wd">
      </div>

      <div *ngIf="!isDisplay" class="user-container" >
        <div class="user-information">
          <p class="name">Carlos Gómez</p>
          <p class="profession">Gerente de relación</p>
        </div>

        <div class="imagen">
          <img class="img " src="https://media.istockphoto.com/photos/portrait-young-confident-smart-asian-businessman-look-at-camera-and-picture-id1288538088?b=1&k=6&m=1288538088&s=170667a&w=0&h=jPbvkT_MRp1jtHmMRCNHo5yaKmxpaEM8i-4JxCYsHK8=">
        </div>
        <div class="menu">
          <i class="fas fa-caret-down"></i>
        </div>
      </div>
      <div class="icon-movil">
        <i (click) = "toggleDisplay()"  class="fa fa-bars" ></i>
      </div>

     
     </div>
  </div> 



